<div id="loader-wrapper" *ngIf="isVisible">
  <div class="overlay"></div>
  <div class="loader-container">
    <div class="dot-main-group dot-main-group-animation" id="dot-main-group">
      <svg data-object-shape="oval" preserveAspectRatio="none" viewBox="0 0 16 16" class="dot-main dot-main-position" id="dot-main">
        <ellipse cx="50%" cy="50%" rx="7.5" ry="7.5"></ellipse>
      </svg>
    </div>
    <div class="dot-1-group dot-1-group-animation" id="dot-1-group">
      <svg data-object-shape="oval" preserveAspectRatio="none" viewBox="0 0 16 16" class="dot-main dot-1 dot-1-position" id="dot-1">
        <ellipse cx="50%" cy="50%" rx="7.5" ry="7.5"></ellipse>
      </svg>
    </div>
    <div class="dot-2-group dot-2-group-animation" id="dot-2-group">
      <svg data-object-shape="oval" preserveAspectRatio="none" viewBox="0 0 16 16" class="dot-main dot-1 dot-2 dot-2-position" id="dot-2">
        <ellipse cx="50%" cy="50%" rx="7.5" ry="7.5"></ellipse>
      </svg>
    </div>
    <div class="dot-3-group dot-3-group-animation" id="dot-3-group">
      <svg data-object-shape="oval" preserveAspectRatio="none" viewBox="0 0 16 16" class="dot-main dot-1 dot-2 dot-3" id="dot-3">
        <ellipse cx="50%" cy="50%" rx="7.5" ry="7.5"></ellipse>
      </svg>
    </div>
    <div class="dot-4-group dot-4-group-animation" id="dot-4-group">
      <svg data-object-shape="oval" preserveAspectRatio="none" viewBox="0 0 16 16" class="dot-main dot-1 dot-2 dot-4" id="dot-4">
        <ellipse cx="50%" cy="50%" rx="7.5" ry="7.5"></ellipse>
      </svg>
    </div>
  </div>
</div>
