<section class="container-fluid px-0 py-3">
  <div class="cb-container container">
    <div class="row  mx-0">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 px-0">
        <ul id="faqs-list">
          <li *ngFor="let question of faqs; let i = index">
            <div class="faq-list-item">
              <div class="question-cntnr" [ngClass]="{ 'collapsed': faqOpened[i] != 'open' }" (click)="onItemClick(i)">
                <p class="question-text">{{question.question}}</p>
              </div>
              <div id="{{'question' + question.id}}" class="answer-cntnr" [ngClass]="{ 'show': faqOpened[i] == 'open' }">
                <p class="answer-text" [innerHTML]="question.answer"></p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>