form.profile-setting-form span#inputGroupPrepend3 {
  padding: 0px;
  border: none;
  input {
    width: 49px;
    background: rgba(150, 162, 189, 0.4);
    box-shadow: none;
    border: none;
  }
}

.modal-content {
  border: unset;
}

.modal-title.promo-head-text {
  margin: 0 auto 4px auto;
}
