<section class="container-fluid px-0 custom-request">
  <div class="cb-container container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 px-0">
        <div class="custom-request-credit-wrapper">
          <div class="custom-request-credit-wrapper__header">
            <h2>Credit Assessment</h2>
            <span>In order to expedite your request, it helps us to have an idea of your credit score.</span>
          </div>
          <div class="custom-request-credit-wrapper__content">
            <div class="credit-wrapper" [ngClass]="{'selected': creditSelected === item.id}" *ngFor="let item of creditScoreList" (click)="onCreditSelect(item)">
              <div class="credit-wrapper__top">
                <span class="label">{{ item.label }}</span>
                <span class="score">{{ item.score }}</span>
              </div>
              <div class="credit-wrapper__bottom">
                <span class="detail">{{ item.description }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<ng-template #requestConfirmationModal let-modal let-c="close" let-d="dismiss">
  <div class="modal-content cb-model">

    <!-- Modal Header -->
    <div class="modal-header">
      <h4 class="modal-title promo-head-text">Your Request is On the Way</h4>
    </div>

    <!-- Modal body -->
    <div class="modal-body">
      <div class="text-center">
        <span>Please note that you are not purchasing a car. This is simply a request to purchase and is non-binding.</span>
        <span class="check-img"></span>
        <a class="btn btn-secondary ml-auto mr-auto d-block next-btn" (click)="confirmRequest()">OK</a>
      </div>
    </div>
  </div>
</ng-template>