<section class="container-fluid px-0">
  <div class="cb-container container" *ngIf="isReady">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-12 col-12 left-div pb-5">
        <div class="brand-model-trim-view">
          <div fxLayoutAlign="space-between center">
            <div>
              <p class="brand-model-p">{{ selectedBrand?.name }} {{ selectedTrim?.friendly_model_name }}</p>
              <p class="trim-p">{{ selectedTrim?.friendly_style_name }}</p>
            </div>
            <div>
              <span class="price-span">{{
                getVehiclePrice(formModel?.buyingMethod) | currency: 'USD':'symbol':'1.0'
              }}
              <!-- <span *ngIf="formModel?.buyingMethod != 1">/month</span> -->
            </span>
              <span  class="price-label-span">Starting MSRP</span>
              <!-- <span *ngIf="formModel?.buyingMethod == 1" class="price-label-span">Starting MSRP</span> -->
              <!-- <span *ngIf="formModel?.buyingMethod != 1" class="price-label-span">excludes taxes and fees*</span> -->
            </div>
          </div>
        </div>
        <div class="img-carousel-wrapper">
          <div *ngIf="backgroundImages.length === 0" class="img-wrapper">
            <div class="carousel-vehicle-img" src="{{selectedTrim?.image_url}}" appLazyloader draggable="false" [ngStyle]="{'background-image': 'url(' + selectedTrim?.image_url + ')'}"></div>
          </div>
          <div *ngIf="backgroundImages.length === 1" class="img-wrapper">
            <div class="carousel-vehicle-img" src="{{backgroundImages[0]}}" appLazyloader draggable="false" [ngStyle]="{'background-image': 'url(' + backgroundImages[0] + ')'}"></div>
          </div>
          <ui-carousel #uiCarousel *ngIf="backgroundImages.length > 1" class="img-carousel" [autoPlay]="false" [arrows]="false" [infinite]="true" [fade]="false" [speed]="200" height="530px" width="100%">
            <ui-carousel-item>
              <div class="carousel-vehicle-img" src="{{backgroundImages[0]}}" appLazyloader draggable="false" [ngStyle]="{'background-image': 'url(' + backgroundImages[0] + ')'}"></div>
            </ui-carousel-item>
            <ui-carousel-item>
              <div class="carousel-vehicle-img" src="{{backgroundImages[1]}}" appLazyloader draggable="false" [ngStyle]="{'background-image': 'url(' + backgroundImages[1] + ')'}"></div>
            </ui-carousel-item>
            <ui-carousel-item *ngIf="backgroundImages.length === 3">
              <div class="carousel-vehicle-img" src="{{backgroundImages[2]}}" appLazyloader draggable="false" [ngStyle]="{'background-image': 'url(' + backgroundImages[2] + ')'}"></div>
            </ui-carousel-item>
            <div class="left-arrow" (click)="uiCarousel.prev()">
              <fa-icon [icon]="['fas', 'chevron-left']"></fa-icon>
            </div>
            <div class="right-arrow" (click)="uiCarousel.next()">
              <fa-icon [icon]="['fas', 'chevron-right']"></fa-icon>
            </div>
          </ui-carousel>
        </div>
        <div class="tech-spec-div detail-block">
          <h2>Technical Specs</h2>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 tech-item">
              <div fxLayoutAlign="space-between center" class="py-2">
                <span class="label"><img src="assets/img/icon/ic-gas.svg"/> EPA Estimated</span>
                <span class="detail">{{ configuration?.vehicle_data.basicInformation.epa }}</span>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 tech-item">
              <div fxLayoutAlign="space-between center" class="py-2">
                <span class="label"><img src="assets/img/icon/ic-data.svg"/> Warranty</span>
                <span class="detail">{{ configuration?.vehicle_data.basicInformation.note }}</span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 tech-item">
              <div fxLayoutAlign="space-between center" class="py-2">
                <span class="label"><img src="assets/img/icon/ic-motor.svg"/> Engine</span>
                <span class="detail">{{ configuration?.vehicle_data.basicInformation.engine }}</span>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 tech-item">
              <div fxLayoutAlign="space-between center" class="py-2">
                <span class="label"><img src="assets/img/icon/ic-wheel.svg"/> Drivetrain</span>
                <span class="detail">{{ configuration?.vehicle_data.basicInformation.wheel }}</span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 tech-item">
              <div fxLayoutAlign="space-between center" class="py-2">
                <span class="label"><img src="assets/img/icon/ic-manual.svg"/> Transmission</span>
                <span class="detail">{{ configuration?.vehicle_data.basicInformation.speed_manual }}</span>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 tech-item">
              <div fxLayoutAlign="space-between center" class="py-2">
                <span class="label"><img src="assets/img/icon/ic-passanger.svg"/> Passengers</span>
                <span class="detail">{{ configuration?.vehicle_data.basicInformation.passenger }}</span>
              </div>
            </div>
          </div>
          <div class="btn-div pt-4">
            <button
              type="button"
              class="btn text-capitalize orange-border-btn"
              (click)="onDetailClick()"
            >
              See All Details
            </button>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-12 right-div pb-5">
        <div class="detail-block option-details border-bottom">
          <h2>Preferred Colors</h2>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 tech-spec-div">
              <div class="color-item disabled">
                <span class="title">Exterior Color</span>
                <div class="color-item__right">
                  <label>
                    <span
                    class="background-color-span"
                    appCircleColor
                    [hexColor]="selectedExteriorColor?.color_hex_code"
                    ></span>
                  </label>
                  <div class="color-item__detail">
                    <span class="name">{{ selectedExteriorColor?.color}}</span>
                    <span class="price">+ {{ selectedExteriorColor?.msrp | currency: 'USD':'symbol':'1.0'}}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 tech-spec-div">
              <div class="color-item disabled">
                <span class="title">Interior Color</span>
                <div class="color-item__right">
                  <div class="color-item__detail">
                    <span class="name">{{ selectedInteriorColor?.color}}</span>
                    <span class="price">+ {{ selectedInteriorColor?.msrp | currency: 'USD':'symbol':'1.0'}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="detail-block option-details border-bottom">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 tech-spec-div">
              <h2>Preferred Options</h2>
              <div class="option-item" *ngFor="let item of selectedOptions; let i = index">
                <span class="name">{{ item?.descriptions[0].description }}</span>
                <span class="price">+ {{ item?.msrp | currency: 'USD':'symbol':'1.0'}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="detail-block">
          <form id="how-soon-form" [formGroup]="buyingForm" appFocusFirstInvalidField>
            <div class="form-group">
              <h2>How soon are you looking to buy?</h2>
              <div class="cst-select">
                <ng-select
                  [items]="timeDropdownOptions"
                  [searchable]="false"
                  placeholder="Select"
                  bindLabel="label"
                  bindValue="id"
                  formControlName="buyingTime"
                  (ngModelChange)="onHowSoonChange()"
                  required
                >
                </ng-select>
                <span *ngIf="buyingForm?.controls['buyingTime'].touched && !buyingForm?.controls['buyingTime'].valid"
                  id="buyingTime-valid" class="validate-message">
                  <span *ngIf="buyingForm.controls['buyingTime'].errors.required">* This Field is required.</span>
                </span>
              </div>
            </div>
          </form>
        </div>
        <div class="detail-block purchase-option-block">
          <div class="form-group">
            <h2>What’s your purchase preference?</h2>
            <div class="purchase-option-wrapper">
              <div *ngFor="let item of buyingMethod; let i = index">
                <div class="purchase-option-item" [ngClass]="{'selected': item.id == formModel.buyingMethod}" (click)="onSelectBuyingMethod(item.id)">
                  <span class="name">{{ item.label }}</span>
                  <span *ngIf="item.id == 1"><span class="price">{{ getVehiclePrice(item.id) | currency: 'USD':'symbol':'0.0-0' }}</span></span>
                  <!-- <span class="price">{{ getVehiclePrice(item.id) | currency: 'USD':'symbol':'0.0-0' }}<span *ngIf="item.id != 1">/mo</span></span> -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Adjust down payment slider section -->
        <div class="detail-block" *ngIf="formModel.buyingMethod == 2">
          <div class="form-group slider-group">
            <div class="slider-group__top">
              <label>Adjust down payment
                <img
                src="assets/img/ic-info.png"
                srcset="
                  assets/img/ic-info@2x.png 2x,
                  assets/img/ic-info@3x.png 3x
                "
                class="ic_info"
                popover="{{ reviewPopoverInfo.financeDownPayment }}"
                popoverTitle="Adjust down payment"
                triggers="mouseenter:mouseleave"
                placement="bottom auto"
              /></label>
              <div class="detail"><span class="dolar">$</span>
                <input 
                  currencyMask
                  class="value-input"
                  min="0"
                  [(ngModel)]="userValues.downPayment"
                  [options]="{
                    align: 'left',
                    prefix: '',
                    thousands: ',',
                    precision: 0
                  }"
                  (blur)="onUserValueChange($event, 'downPayment')"
                  appNoSpace
                >
              </div>
            </div>
            <ng5-slider class="custom-slider" [(value)]="formModel.downPayment" [options]="downPaymentSliderOption" (userChange)="onFormSliderChange('downPayment')"></ng5-slider>
          </div>
          <!-- Financing Term slider section -->
          <div class="form-group slider-group">
            <div class="slider-group__top">
              <label>Financing Term (in months)
                <img
                src="assets/img/ic-info.png"
                srcset="
                  assets/img/ic-info@2x.png 2x,
                  assets/img/ic-info@3x.png 3x
                "
                class="ic_info"
                popover="{{ reviewPopoverInfo.financeTerm }}"
                popoverTitle="Financing Term"
                triggers="mouseenter:mouseleave"
                placement="bottom auto"
              /></label>
              <div class="detail">
                <input
                  currencyMask
                  class="value-input"
                  min="0"
                  [(ngModel)]="userValues.termInMonths"
                  [options]="{
                    align: 'left',
                    prefix: '',
                    thousands: ',',
                    precision: 0
                  }"
                  appNoSpace
                  (blur)="onUserValueChange($event, 'termInMonths')"
                >
                <span class="month">mo</span>
              </div>
            </div>
            <ng5-slider class="custom-slider" [(value)]="formModel.termInMonths" [options]="financeTermSliderOption" (userChange)="onFormSliderChange('termInMonths')"></ng5-slider>
          </div>
        </div>
        <!-- Lease Term slider section -->
        <div class="detail-block" *ngIf="formModel.buyingMethod == 3">
          <div class="form-group slider-group">
            <div class="slider-group__top">
              <label>Lease Term
                <img
                src="assets/img/ic-info.png"
                srcset="
                  assets/img/ic-info@2x.png 2x,
                  assets/img/ic-info@3x.png 3x
                "
                class="ic_info"
                popover="{{ reviewPopoverInfo.leaseTerm }}"
                popoverTitle="Lease Term"
                triggers="mouseenter:mouseleave"
                placement="bottom auto"
              /></label>
              <div class="detail">
                <input
                  currencyMask
                  class="value-input"
                  min="0"
                  [(ngModel)]="userValues.termInMonths1"
                  [options]="{
                    align: 'left',
                    prefix: '',
                    thousands: ',',
                    precision: 0
                  }"
                  appNoSpace
                  (blur)="onUserValueChange($event, 'termInMonths1')"
                >
                <span class="month">mo</span>
              </div>
            </div>
            <ng5-slider class="custom-slider" [(value)]="formModel.termInMonths1" [options]="leaseTermSliderOption" (userChange)="onFormSliderChange('termInMonths1')"></ng5-slider>
          </div>
          <!-- Annual Mileage slider section -->
          <div class="form-group slider-group">
            <div class="slider-group__top">
              <label>Annual Mileage
                <img
                src="assets/img/ic-info.png"
                srcset="
                  assets/img/ic-info@2x.png 2x,
                  assets/img/ic-info@3x.png 3x
                "
                class="ic_info"
                popover="{{ reviewPopoverInfo.leaseAnnualMileage }}"
                popoverTitle="Annual Mileage"
                triggers="mouseenter:mouseleave"
                placement="bottom auto"
              /></label>
              <div class="detail">
                <input
                  currencyMask
                  class="value-input"
                  min="0"
                  [(ngModel)]="userValues.annualMilage"
                  [options]="{
                    align: 'left',
                    prefix: '',
                    thousands: ',',
                    precision: 0
                  }"
                  appNoSpace
                  (blur)="onUserValueChange($event, 'annualMilage')"
                >
                <span class="month">yr</span>
              </div>
            </div>
            <ng5-slider class="custom-slider" [(value)]="formModel.annualMilage" [options]="annualMilageSliderOption" (userChange)="onFormSliderChange('annualMilage')"></ng5-slider>
          </div>
          <!-- Cash down payment slider section -->
          <div class="form-group slider-group">
            <div class="slider-group__top">
              <label>Cash down payment
                <img
                src="assets/img/ic-info.png"
                srcset="
                  assets/img/ic-info@2x.png 2x,
                  assets/img/ic-info@3x.png 3x
                "
                class="ic_info"
                popover="{{ reviewPopoverInfo.leaseDownPayment }}"
                popoverTitle="Cash down payment"
                triggers="mouseenter:mouseleave"
                placement="bottom auto"
              /></label>
              <div class="detail"><span class="dolar">$</span>
                <input
                  currencyMask
                  class="value-input"
                  min="0"
                  [(ngModel)]="userValues.downPayment1"
                  [options]="{
                    align: 'left',
                    prefix: '',
                    thousands: ',',
                    precision: 0
                  }"
                  appNoSpace
                  (blur)="onUserValueChange($event, 'downPayment1')"
                >
              </div>
            </div>
            <ng5-slider class="custom-slider" [(value)]="formModel.downPayment1" [options]="downPaymentSliderOption" (userChange)="onFormSliderChange('downPayment1')"></ng5-slider>
          </div>
        </div>
        <div class="detail-block">
          <div class="detail-block__top">
            <h2>Do you have a trade-in?</h2>
            <div class="radio-group">
              <div class="form-radio cb-check pl-0 pr-3">
                <input class="form-radio-input styled-radio" 
                  [checked]="formModel.currentTradeMode"
                  (change)="onTradeMyCarChange($event)" 
                  type="radio" 
                  id="trade-in-yes" 
                  name="trade-in" 
                  value="Yes">
                <label for="trade-in-yes" class="form-radio-label styled-radio-label p-0 m-0 text-capitalize">
                  Yes
                </label>
              </div>
              <div class="form-radio cb-check pl-0">
                <input class="form-radio-input styled-radio" 
                  [checked]="!formModel.currentTradeMode"
                  (change)="onTradeMyCarChange($event)"
                  type="radio" 
                  id="trade-in-no" 
                  name="trade-in" 
                  value="No">
                <label for="trade-in-no" class="form-radio-label styled-radio-label p-0 m-0 text-capitalize">
                  No
                </label>
              </div>
            </div>
          </div>
          <form id="trade-form" [formGroup]="tradeForm" appFocusFirstInvalidField>
            <div class="lease-form" *ngIf="formModel.currentTradeMode">
              <div class="form-group">
                <label
                  class="form-label mt-1 mb-0"
                  for="exampleFormControlSelect1 form-label"
                  >YEAR</label
                >
                <div class="cst-select">
                  <ng-select
                    [items]="yearList"
                    placeholder="Select"
                    formControlName="currentYear"
                    (ngModelChange)="onSelectYear()"
                    required
                  >
                  </ng-select>
                  <span *ngIf="tradeForm?.controls['currentYear'].touched && !tradeForm?.controls['currentYear'].valid"
                    id="currentYear-valid" class="validate-message">
                    <span *ngIf="tradeForm.controls['currentYear'].errors.required">* Year is required.</span>
                  </span>
                </div>
              </div>
              <div class="form-group">
                <label
                  class="form-label mt-1 mb-0"
                  for="exampleFormControlSelect1 form-label"
                  >MAKE</label
                >
                <div class="cst-select">
                  <ng-select
                    [items]="brandList"
                    placeholder="Select"
                    bindLabel="name"
                    bindValue="id"
                    formControlName="currentBrand"
                    (change)="onChangeBrand()"
                    required
                  >
                  </ng-select>
                  <span *ngIf="tradeForm?.controls['currentBrand'].touched && !tradeForm?.controls['currentBrand'].valid"
                    id="currentBrand-valid" class="validate-message">
                    <span *ngIf="tradeForm.controls['currentBrand'].errors.required">* Make is required.</span>
                  </span>
                </div>
              </div>
              <div class="form-group">
                <label
                  class="form-label mt-1 mb-0"
                  for="exampleFormControlSelect1 form-label"
                  >MODEL</label
                >
                <div class="cst-select">
                  <ng-select
                    [items]="modelList"
                    placeholder="Select"
                    bindLabel="name"
                    bindValue="id"
                    formControlName="currentModel"
                    (change)="onChangeModel($event)"
                    required
                  >
                  </ng-select>
                  <span *ngIf="tradeForm?.controls['currentModel'].touched && !tradeForm?.controls['currentModel'].valid"
                    id="currentModel-valid" class="validate-message">
                    <span *ngIf="tradeForm.controls['currentModel'].errors.required">* Model is required.</span>
                  </span>
                </div>
              </div>
              <div class="form-group">
                <label class="form-label mt-1 mb-0">MILES</label>
                <div class="cst-select">
                  <input
                    name="miles"
                    currencyMask
                    class="form-control"
                    placeholder="Miles"
                    formControlName="miles"
                    [options]="{
                      align: 'left',
                      prefix: '',
                      thousands: ',',
                      precision: 0
                    }"
                    (blur)="onMileChange($event)"
                    required
                  />
                  <span *ngIf="tradeForm?.controls['miles'].touched && !tradeForm?.controls['miles'].valid"
                    id="miles-valid" class="validate-message">
                    <span *ngIf="tradeForm.controls['miles'].errors.required">* Miles is required.</span>
                  </span>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="btn-div">
          <button *ngIf="!promoCode" _ngcontent-c13="" class="btn text-capitalize promo-btn ng-star-inserted" type="button" (click)="onPromoCodeAdd()">Have a promo code </button>
          <div class="result-promo" *ngIf="promoCode">
              <p id="code-count">Promo Code: <b>{{ promoCode}}</b> Added</p>
              <a (click)="onPromoCodeAdd()" class="edit-btn pt-3">Edit Promo Code</a>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- The Modal -->
<ng-template #addPromoModal let-modal let-c="close" let-d="dismiss">
  <div>
    <div class="modal-content cb-model promo-code-modal">
      <!-- Modal Header -->
      <div class="modal-header">
        <div>
          <h4 class="modal-title promo-head-text">Add Promo Code</h4>
          <span class="modal-header_desc">If you received a promo code for a discount, please enter it here.</span>
        </div>
        <a class="close" data-dismiss="modal" (click)="onDismissAddPromoModal()"
          ><img src="assets/img/close.png" class="ic_close"
        /></a>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <div class="text-center">
          <div class="promo-inner">
            <form id="promo-form" [formGroup]="promoInputForm" appFocusFirstInvalidField>
              <div class="form-group">
                <input type="text" class="form-control" id="promoCode" aria-describedby="promoCodeHelp"
                  placeholder="Enter Promo Code" formControlName="promoCode"
                  appNoWhitespace/>
                <span *ngIf="promoInputForm?.controls['promoCode'].touched && !promoInputForm?.controls['promoCode'].valid"
                  id="promoCode-valid" class="validate-message">
                  <span *ngIf="promoInputForm.controls['promoCode'].errors.required">* The Promo Code is required.</span>
                  <span *ngIf="promoInputForm.controls['promoCode'].errors.maxlength">* The Promo Code should be less than 16 characters.</span>
                </span>
              </div>
            </form>
          </div>
          <a
            class="btn btn-secondary ml-auto mr-auto d-block next-btn"
            (click)="onPromoCodeConfirm()"
            >{{ getPromoConfirmTitle() }}</a
          >
        </div>
      </div>
    </div>
  </div>
</ng-template>

<!-- The Modal -->
<ng-template #detailModal let-modal let-c="close" let-d="dismiss"> 
  <div class="detail-modal">
    <div class="modal-content cb-model">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Your Car’s Details</h4>
        <a class="close" data-dismiss="modal" (click)="onDismissDetailModal()"
          ><img src="assets/img/close.png" class="ic_close"
        /></a>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <div class="spec-detail-group">
          <h4>General Information</h4>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 tech-item" *ngFor="let item of configuration?.vehicle_data.structuredConsumerInformation; let i = index;">
              <h5>{{item.typeName}}</h5>
              <p *ngFor="let item1 of item.items; let ii = index;">
                <span class="label">{{ item1.name }}:</span>
                <span class="desc">{{ item1.value }}</span>
              </p>
            </div>
          </div>
        </div>
        <div class="spec-detail-group">
          <h4>Technical Equipment</h4>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
              <ng-container *ngFor="let item of technicalSpecifications; let i = index; let even = even">
                <div class="tech-item" *ngIf="even">
                  <h5>{{item.headerName}}</h5>
                  <p *ngFor="let item1 of item.items; let ii = index;">
                    <span class="label">{{ item1.titleName }}:</span>
                    <span class="desc">{{ item1.value }}</span>
                  </p>
                </div>
              </ng-container>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
              <ng-container *ngFor="let item of technicalSpecifications; let i = index; let odd = odd">
                <div class="tech-item" *ngIf="odd">
                  <h5>{{item.headerName}}</h5>
                  <p *ngFor="let item1 of item.items; let ii = index;">
                    <span class="label">{{ item1.titleName }}:</span>
                    <span class="desc">{{ item1.value }}</span>
                  </p>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
        <div class="spec-detail-group">
          <h4>Standard Equipment</h4>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 tech-item" *ngFor="let item of standardEquipments; let i = index;">
              <h5>{{item.consumerFriendlyHeaderName}}</h5>
              <ul>
                <li *ngFor="let item1 of item.items; let ii = index;">
                  <span>{{ item1.description }}:</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <a class="btn btn-secondary ml-auto mr-auto d-block next-btn" (click)="onDismissDetailModal()">Close</a>
      </div>
    </div>
  </div>
</ng-template>